.element{
    position: absolute;
    z-index: 3;
    height: 70%;
    width: 80%;
}
.centerbox{
    background-color: var(--box-color);
    height: 40rem;
    width: 40rem;
    border-radius: 100px;
}
.rings{
    background-color: var(--spring-color);
    width: 5rem;
    height: 2rem;
    box-shadow: 0px 0px 20px var(--box-shadow-input);
    left: 26.5%;
}
.items-1{
    top: 8rem;
}
.items-2{
    top: 13rem;
}
.items-3{
    top: 18rem;
}
.items-4{
    top: 23rem;
}
.items-5{
    top: 28rem;
}
.items-6{
    top: 33rem;
}